body {
    /* background-color: #2B2539;     */
    background:linear-gradient(-200deg, #4B74E2 0%, #DE5457 90%)
}

#bg {
    transition: 5s;
}

#bgOverlay {
    padding: 0px;
    position: fixed;
    height: 101vh;
    width: 102vw;
    margin: -10px;
    background-color: rgba(0, 0, 0, 0.792);
    -webkit-backdrop-filter: blur(250px); 
    backdrop-filter: blur(25px);
    z-index: -1;
}



.pickr .pcr-button {
    width: 200px; 
    height: 223px;
    margin-right: 40px;
    border-radius: 50px 20px 0 0;
}

.pcr-app:hover {
    box-shadow: 0 0 20px #ffffff30;
    transition: .2s;
}

.pcr-app {
    border-radius: 10px;
}

.picker.pcr-app input.pcr-save:before {
    background-color: #5417E5;
    color: #2B2539;
}

.blurBox {
    width: 200px; 
    height: 103px; 
    background-color: #c6c6c66c; 
    margin-right: 40px; 
    -webkit-backdrop-filter: blur(25px); 
    backdrop-filter: blur(25px);
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.blurBox:hover {
    box-shadow: 0 0 20px #ffffff30;
    transition: .2s;
}

.blurBox p {
    font-family: Helvetica regular, sans-serif;
    color: #ffffff;
}

#colorText1 {
    text-align: center;
    line-height: 1.5em;
}

#colorText2 {
    text-align: center;
    line-height: 1.5em;
}

#colorText3 {
    text-align: center;
    line-height: 1.5em;
}

#colorText4 {
    text-align: center;
    line-height: 1.5em;
}

.showResults {
    width: 202px; 
    height: 56px; 
    background-color: #5417E5; 
    border-radius: 40px; 
    color: white; 
    font-size: 20px; 
    font-weight: 600;
    border: none;
    transition: .2s;
    margin-right: 40px;
}

.showResults:hover {
    background-color: #ffffff;
    /* border: 2px solid #ffffff; */
    color: #5417E5;
    transition: .2s;
    cursor: pointer;
}

.checkbox {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-right: 40px;
}

#helpButton img {
    display: block;
    position: absolute;
    margin: 10px;
    width: 40px;
    height: 40px;
}

#helpButton:hover {
    cursor: pointer;
}

#title {
    margin-top: -400px;
    margin-left: -35px;
    position: absolute;
    color: white;
    font-family: Helvetica regular, sans-serif;
    font-size: 20px;
}

/* #helpModal {
    background: white;
    position: absolute;
    display: none;
} */

/* #helpModal white rectangle centered on the screen with black text */
#helpModal {
    display: block;
    position: absolute;
    background-color: #8c8c8c55; 
    margin-right: 40px; 
    -webkit-backdrop-filter: blur(25px); 
    backdrop-filter: blur(25px);
    border-radius: 20px;
    width: 300px;
    height: 500px;
    top: 20px;
    left: 90px;
    padding: 20px;
    color: #ffffff;
    font-family: Helvetica regular, sans-serif;
    font-size: 15px;
    box-shadow: 0 0 50px #00000030;
    z-index: 3;
    transition: 1s;
    line-height: 18px;
}

#modalCloseButton {
    position: relative;
    background-color: white;
    width: 100px;
    color: black;
    padding: 10px;
    text-align: center;
    /* center */
    margin: 0 auto;
    top: 25px;
    border-radius: 100px;
}